:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 7px 6px 17px; 
}

:host {
  --bg-color: transparent;
  --bg-color-hover: #09f;
  --color: #000;
  --color-hover: #fff;
}

:host {
  background-color: var(--bg-color);
  color: var(--color);
}

:host(:hover) {
  background-color: var(--bg-color-hover);
  color: var(--color-hover);
}

:host {
  @apply rounded-md cursor-default text-[13px];
}
